.hihi{
    background-color: rgb(216, 186, 146);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin:30px;
    width:500px;
    height:500px;
    padding:30px;
    padding-top:150px;
    text-align:center;
}
.hy{
    background-color: rgb(216, 186, 146);
    margin:30px;
    width:500px;
    height:70px;
    padding:7px;
    text-align:center;
}
img{
    height: 300px;
}
.card{
    height:650px;
    margin:2px;
    margin-bottom:30px;
}
.card-body{
    height: 300px;

}
.card-title{
    height: 100px;
}